<div class="app-container">
  <div class="left-pane">
    <app-chart-selector (chartTypeChanged)="onChartTypeChanged()"></app-chart-selector>

    <ng-container *ngIf="currentChartType !== 'none'">
      <button class="formatter-btn" (click)="toggleFormatterPanel()">
        {{ showFormatterPanel ? 'Hide Formatters' : 'Show Formatters' }}
      </button>

      <div class="formatter-panel" *ngIf="showFormatterPanel">
        <app-formatter-options
          [chartType]="currentChartType"
          [formatterOptions]="currentFormatterOptions"
          (formatterChange)="onFormatterChange($event)">
        </app-formatter-options>
      </div>
    </ng-container>
  </div>

  <div class="right-pane">
    <div class="plot-area" *ngIf="currentChartType !== 'none'">
      <button class="plot-btn" (click)="onPlot()">Plot</button>
    </div>

    <div class="chart-area" *ngIf="showChart">
      <app-chart-container
        [chartType]="currentChartType"
        [formatterOptions]="currentFormatterOptions">
      </app-chart-container>
    </div>
  </div>

  <div id="tooltip" class="tooltip"></div>
</div>
